@charset "ISO-8859-1";
/* Reset some default styles */
body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and font family for the entire page */
body {
    background-color: rgb(0, 128, 64);
    font-family: Arial, sans-serif;
}

/* Center the content horizontally */
.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* Style the form container */
.form-group {
    margin-bottom: 200px;
}

/* Style the form input field */
#base {
    padding: 10px;
    width: 40%;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    text-align: center;
}

/* Style the buttons for conversion type selection */
input[type="button"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border:midnightblue;
    border-radius: 100px;
    cursor:auto;
    transition: background-color 0.3s;
}

input[type="button"]:hover {
    background-color: #0056b3;
}

/* Style the result section */
h2 {
    margin-top: 100px;
}

h3, h4 {
    margin-top: 10px;
}
