* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style the main container */
.main {
    /* background-color: gray; */
    text-align: center;
}


/* Style the navbar */
.navbar {
    background-color:#333;
    color: rgb(0, 0, 64);
    padding: 50px;
}

/* Style the logo */
.logo h2 {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

/* Style the registration form */
.form {
    background-color: darkslategray;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 40px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
    text-align: left; /* Left-align the form content */
}

.form h2 {
    font-size: 24px;
    margin: 0;
    color: #b3a4a4;
    text-align: center;
}

/* Style the input fields */
form input {
    width: 10%;
    padding: 10px;
    height: 10px;
    margin: 10px ;
    border-radius: 10px;
}

form .error{
    border: 2px solid rgb(207, 28, 28);
}
form .success{
    border: 2px  rgb(0, 128, 128);
}

/* Style the button */
button {
    background-color: #28cfab;
    color: rgb(0, 0, 64);
    border: none;
    height: 40px;
    padding: 0 2rem;
    border-radius: 5px;
}

button a {
    text-decoration: none;
    color: rgb(0, 0, 64);
    height: 40px;
}

/* Style the login link */
h3 a {
    text-decoration: none;
    color: #333;
}

/* Add spacing to the login link */
p {
    margin-top: 20px;
}